@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f1;
}

.inp {
  background-color: rgb(245, 246, 244);
  height: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  padding: 1.5rem 1.2rem;
  font-size: 1rem;
  transition: all 0.3s;
  width: 100%;
}

.inp:focus::placeholder {
  transition: all 0.3s;
  font-size: 0.8rem;
  transform: translateY(-0.6rem);
  margin-bottom: 1rem;
}

.login__btn {
  @apply w-full bg-[#e0e2d9] p-3 rounded-full font-bold;
}

.inactive {
  color: #d2bea7;
}

.has_email_password {
  @apply bg-[#8129d9] text-white;
}

.has_email_password:hover {
  @apply bg-[#6c1fc8];
}
